<%@ Page Language="vb" AutoEventWireup="false" Codebehind="wait.aspx.vb" Inherits="BackStock.wait"%>
<%response.buffer = true%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>wait</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio.NET 7.0">
		<meta name="CODE_LANGUAGE" content="Visual Basic 7.0">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="<%=Application("StyleSheet")%>" type="text/css" rel="stylesheet">
	</head>
	<body >
		
		<table cellspacing="0" cellpadding="0" border="0" align=center>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		
		<td>
			
			<TABLE BGCOLOR="#000000" BORDER=1 BORDERCOLOR="#000000" 
	CELLPADDING=0 CELLSPACING=0 HEIGHT=100 WIDTH=300>
      <TR>
        <TD WIDTH="100%" HEIGHT="100%" BGCOLOR="#CCCCCC" ALIGN="CENTER" VALIGN="MIDDLE">
          <BR><BR>
          <FONT FACE="Helvetica,Verdana,Arial" SIZE=3 COLOR="#000066">
		  <B>Loading.  Please wait...</B></FONT> <BR><br> 
          <IMG SRC="images/pl_wait.gif" BORDER=1 WIDTH=75 HEIGHT=15><BR><BR> 
        </TD>
      </TR>
    </TABLE>
				
			
		</td>
	</tr>
	
	
	<%response.flush()%>
	<div ID="PanelForm" Runat="server">
	</div>
</table>

<script language="javascript">
			document.Form1.action=document.Form1.FormAction.value;
			document.Form1.submit();			
</script>
		
	</body>
</html>
