<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ProgressBar.aspx.cs" Inherits="ProgressBar" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Progress</title>
</head>
<body>
 <div id="divWait" visible="true">
      <center>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <b>Uploading models, please wait...</b><p />
            <img id="Img1"  src="images/progressbar10.gif" width="237" height="37" alt="Uploading, please wait..."/>
          <p>&nbsp;</p>
          <span id="spnError"></span>
          <p>&nbsp;</p>
      </center>
     </div>
</body>
</html>
