<div style="text-align:center">
    <table cellspacing="0" cellpadding="0" width="770">
			<tr>
				<td>
					<a href="http://www.hottopic.com"><img src= "images/hdr_main2.gif" alt="Hottopic" style="border:0" /></a>
				</td>
				<td align="center"><h2>Arthur Models Administration</h2></td>
				<td align="right">
					<a href="http://www.torrid.com"><img src="images/TorridPink.jpg" alt="Torrid" style="border:0" /></a>
				</td>
			</tr>
			<tr>
				<td style="height:10">
				</td>
			</tr>
			<tr style="HEIGHT:2px">
				<td style="height:2px; background-color:#990000" colspan="3"></td>
			</tr>
	</table>
</div>

